<ng-container [formGroup]="form">
<mat-form-field appearance="outline">
  <mat-label>Brand</mat-label>
  <input matInput placeholder="Brand" formControlName="brand">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Model</mat-label>
  <input matInput placeholder="Model" formControlName="model">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>VIN</mat-label>
  <input matInput placeholder="VIN" formControlName="vin">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>


</ng-container>
