.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-content{
  display: flex;
  flex-direction: column;
}

.quantity-amount-section, .vat-total-section {
  display: flex;
}

.section-item {
  flex: 1 0 auto;
}
