<ng-container *ngIf='(isLoading$ | async)'>
  <content-loader>
    <svg:rect x="5" y="5" rx="3" ry="3" width="95%" height="20" />
    <svg:rect x="5" y="35" rx="3" ry="3" width="95%" height="20" />
    <svg:rect x="5" y="65" rx="3" ry="3" width="95%" height="20" />
    <svg:rect x="5" y="95" rx="3" ry="3" width="95%" height="20" />

  </content-loader>
</ng-container>

<div class="container" [formGroup]="form" *ngIf='!(isLoading$ | async)'>

  <div class="general-section">

    <mat-form-field appearance="outline">
      <mat-label>Sales Person</mat-label>
      <mat-select formControlName="salesPersonId" (selectionChange)="onSalesPersonChanged($event.value)">
        <mat-option *ngFor="let salesPerson of (salesPersons$ | async)" [value]="salesPerson.id">
          {{salesPerson.surname}}, {{salesPerson.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Order Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="orderDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Delivery Date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="deliveryDate" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="orderStatus">
        <mat-option *ngFor="let status of (statuses$ | async)" [value]="status.code">
          {{status.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <div class="customer-section">

    <mat-form-field appearance="outline">
      <mat-label>Customer name</mat-label>
      <input matInput placeholder="Customer name" formControlName="customerName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Customer surname</mat-label>
      <input matInput placeholder="Customer surname" formControlName="customerSurname" />
    </mat-form-field>
  </div>

  <div class="amount-section">
    <mat-form-field appearance="outline">
      <mat-label>Currency</mat-label>
      <input matInput placeholder="Currency" formControlName="orderCurrency" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Order amount</mat-label>
      <input matInput placeholder="Order amount" formControlName="orderAmount" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>VAT amount</mat-label>
      <input matInput placeholder="VAT amount" formControlName="vatAmount" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Total Amount</mat-label>
      <input matInput placeholder="Total Amount" formControlName="totalOrderAmount" />
    </mat-form-field>
  </div>
