.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-card {
  width: 30%;
  margin: 2em;
  button {
    float: right;
  }
}


.add-todo-btn{
  margin: 1em;
}

.complete{
  text-decoration: line-through;
}
