<ng-container [formGroup]="addressForm">

  <div class="container" [class.readonly]="readonly" [class.invalid]="isControlInvalid()">
    <mat-form-field appearance="standard">
      <mat-label>Street</mat-label>
      <input matInput placeholder="Street" formControlName="street" (blur)="onStreetInputBlur()">
    </mat-form-field>
    <ng-container
      *ngIf="addressForm.get('street').touched && addressForm.get('street').errors | onlyOneError:['required','minlength'] as error">
      <div class="field-message" *ngIf="error.required">Street is required field</div>
      <div class="field-message" *ngIf="error.minlength">
        Street must have minimum {{error.minlength.requiredLength}} chars,
        but it only has {{error.minlength.actualLength}}.
      </div>
    </ng-container>

    <mat-form-field appearance="standard">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" formControlName="city" (blur)="onCityInputBlur()">
    </mat-form-field>
    <ng-container
      *ngIf="addressForm.get('city').touched && addressForm.get('city').errors | onlyOneError:['required','minlength'] as error">
      <div class="field-message" *ngIf="error.required">City is required field</div>
      <div class="field-message" *ngIf="error.minlength">
        City must have minimum {{error.minlength.requiredLength}} chars,
        but it only has {{error.minlength.actualLength}}.
      </div>
    </ng-container>
    <mat-form-field appearance="standard">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country" (selectionChange)='onCountryChanged()' (closed)="onClosed()">
        <mat-option *ngFor="let country of countries$ | async" [value]='country.id'> {{country.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container
      *ngIf="addressForm.get('country').touched && addressForm.get('country').errors | onlyOneError:['required','minlength'] as error">
      <div class="field-message" *ngIf="error.required">Country is required field</div>
      <div class="field-message" *ngIf="error.minlength">
        Country must have minimum {{error.minlength.requiredLength}} chars,
        but it only has {{error.minlength.actualLength}}.
      </div>
    </ng-container>
    <mat-form-field appearance="standard">
      <mat-label>State</mat-label>
      <mat-select formControlName="state">
        <mat-option *ngFor="let state of states$ | async" [value]='state.id'> {{state.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <ng-container *ngIf="streetErrors() | onlyOneError:['required','minlength'] as error">

    <div *ngIf="error.required">
      Street is required field
    </div>

    <div *ngIf="error.minlength">
      Street must have minimum {{error.minlength.requiredLength}} chars,
      but it only has {{error.minlength.actualLength}}.
    </div>

  </ng-container>

  <ng-container *ngIf="cityErrors() | onlyOneError:['required','minlength'] as error">

    <div *ngIf="error.required">
      City is required field
    </div>

    <div *ngIf="error.minlength">
      City must have minimum {{error.minlength.requiredLength}} chars,
      but it only has {{error.minlength.actualLength}}.
    </div>

  </ng-container>

  <ng-container *ngIf="countryErrors() | onlyOneError:['required','minlength'] as error">

    <div *ngIf="error.required">
      Country is required field
    </div>

    <div *ngIf="error.minlength">
      Country must have minimum {{error.minlength.requiredLength}} chars,
      but it only has {{error.minlength.actualLength}}.
    </div>

  </ng-container>

</ng-container>
