:host {
  .container.readonly {
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
  }

  .container {
    border: 1px solid lightgrey;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;

    &.invalid {
      border: 2px solid #bd0404 !important;
    }

    .mat-form-field {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .field-message {
    color: #f44336;
    margin-top: -20px;

    font-size: 75%;
    font-family: 'Roboto';
    margin-left: 10px;
  }
}
