.container{
  display:flex;
  flex-direction: column;
  margin: 20px;

  .add-btn{
    margin-bottom: 10px;
  }

  .filter-field{
    width:50%;
    margin-left: 20px;
  }

  .table-toolbar{
    display: flex;
    align-items: center;
    justify-content: stretch;
  }

  .undo-redo-buttons{
    margin-left:20px
  }
}
