<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
</style>
<pre>
  {{globalStateService.snapshot.username}}
</pre>
<p>Pooling count times: {{poolingService.pooling$ | async}}</p>

<div *ngIf="loading" id="myModal" class="modal">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="content" role="main">
  <div class="card-container">
    <a class="card" routerLink="/lazy">
      <span>Lazy</span>
    </a>
    <a class="card" routerLink="/shared-forms">
      <span>Shared Forms</span>
    </a>
    <a class="card" routerLink="/async-validators">
      <span>Async Validators</span>
    </a>
    <a class="card" routerLink="/akita-home">
      <span>Akita</span>
    </a>
    <a class="card" routerLink="/order-entry">
      <span>Order Entry</span>
    </a>
    <a class="card" routerLink="/material-home">
      <span>Material</span>
    </a>
    <a class="card" routerLink="/change-detection-home">
      <span>Change detection</span>
    </a>
    <a class="card" routerLink="/tree-drag-drop">
      <span>Tree Drag Drop</span>
    </a>
    <a class="card" routerLink="/css-ordering">
      <span>Css ordering</span>
    </a>
    <a class="card" routerLink="/route-resolver">
      <span>Route resolver</span>
    </a>
  </div>
</div>
<router-outlet></router-outlet>



<br>
<ng-container [formGroup]="form">
  <div class="container">
    <div class="first-column">
      <app-search-form-field-container formControlName="first" type="text"></app-search-form-field-container>
      <app-search-form-field-container formControlName="second" type="number"></app-search-form-field-container>
      <app-search-form-field-buttons-container formControlName="third" type="text">
      </app-search-form-field-buttons-container>
      <app-search-form-field-buttons-container formControlName="fourth" type="number">
      </app-search-form-field-buttons-container>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="second-column">
      <div style="width:300px">
        <app-simple-address-control formControlName="address" [readonly]="false" [streetValidators]="streetValidators"
          [cityValidators]="cityValidators" [countryValidators]="countryValidators">
        </app-simple-address-control>
        {{form.get('address').errors | json}}
        <div *ngIf="form.get('address').hasError('cityRequired')">
          CITY REQUIRED
        </div>

      </div>
    </div>
  </div>
</ng-container>
